<div class="regions view">
    <div class="container">
        <header>
            <h3>All Centers Regions</h3>
        </header>
        <div>
            <div class="row">
                <div class="span12" data-ng-repeat="center in centers | orderBy:'name'">
                    <div class="indent">
                        <h4><a href="#/centerregions/{{center.code}}">{{ center.name }}</a></h4>
                    </div>
                    <input type="text" id='code' value='{{ center.code }}'>
                    <div data-ng-include="'./partials/regionsTable.html'" />
                </div>
            </div>
        </div>
    </div>
</div>