<table class="table table-hover table-striped table-condensed table-bregioned regionsTable" data-ng-controller="RegionChildController">
    <thead>
        <tr>
            <th data-ng-click="setOrder('regionCode')">regionCode</th>
            <th data-ng-click="setOrder('name')">name</th>
            <th data-ng-click="setOrder('chief')">chief</th>
            <th data-ng-click="setOrder('address')">address</th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-hide="center.regions || center.regions.length > 0" class="error">
            <td colspan="4">
                <div class="text-center"><strong>No regions found</strong></div>
            </td>
        </tr>
        <tr data-ng-repeat="region in center.regions | orderBy:orderby:reverse">
            <td>
                {{ region.regionCode }}
            </td>
            <td>
                {{ region.name }}
            </td>
            <td>
                {{ region.chief }}
            </td>
            <td>
                {{ region.address }}
            </td>
        </tr>
        <tr class="info">
            <td colspan="3">
                &nbsp;
            </td>
            <td>
                <strong>{{ regionsTotal }}</strong>
            </td>
        </tr>
    </tbody>
</table>