<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<timestamp key="bySecond" datePattern="yyyyMMddHH" />

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</layout>
	</appender>

    <logger name="org.springframework" additivity="false">
        <level value="ERROR" />
		<appender-ref ref="CONSOLE" />
    </logger>

	<logger name="com.tobesoft" additivity="false">
		<level value="ERROR" />
		<appender-ref ref="CONSOLE" />
	</logger>

	<logger name="tz" additivity="false">
		<level value="ERROR" />
		<appender-ref ref="CONSOLE" />
	</logger>

	<logger name="tz.extend.iam" additivity="false">
		<level value="ERROR" />
		<appender-ref ref="CONSOLE" />
	</logger>

	<logger name="tz.basis.core.mvc.resolver.TzExceptionViewResolver" additivity="false">
		<level value="ERROR" />
		<appender-ref ref="CONSOLE" />
	</logger>

	<logger name="tz.basis.query.core.evaluator" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="CONSOLE" />
	</logger>

	<logger name="tz.basis.query.core.mapper" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="CONSOLE" />
	</logger>

	<logger name="tz.basis.query.core" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="CONSOLE" />
	</logger>

	<logger name="tz.common" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="CONSOLE" />
	</logger>

	<logger name="com.tz" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="CONSOLE" />
	</logger>

	<root>
        <level value="DEBUG" />
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>