<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Topzone 2013</title> 
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" /> 
<script type="text/javascript" src="/common/js/head.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('#container a[href="#"]').each(function(idx, item){
            $(item).click(function(event){
                event.preventDefault();         // # 링크 이동 중지
            });
        });
        
        $.ajaxSetup({
            error: function(jqXHR, textStatus, errorThrown) {
                try {
                    var json = $.parseJSON(jqXHR.responseText);
                    if(json.message) {
                        alert(json.message);
                        return true;
                    }
                } catch(e) { }
                 
                if(jqXHR.status==0){
                    alert('네트워크 장애가 발생되었습니다.\n 잠시 후 다시 시도해주세요.');
                } else if(jqXHR.status==403) {
                    // document.location.href='/login';
                    alert('로그인 사용자만 이용가능한 서비스입니다.\n 로그인 후 진행해주세요.');
                } else if(jqXHR.status==404) {
                    alert('존재하지 않는 페이지이거나 잘못된 주소로 접근하셨습니다.');
                } else if(jqXHR.status==500) {
                    alert('네트워크 장애가 발생되었습니다.\n 잠시 후 다시 시도해주세요.');
                } else if(errorThrown=='parsererror') {
                    alert('네트워크 장애가 발생되었습니다.\n 잠시 후 다시 시도해주세요.');
                } else if(errorThrown=='timeout') {
                    alert('네트워크 장애가 발생되었습니다.\n 잠시 후 다시 시도해주세요.');
                } else {
                    alert('네트워크 장애가 발생되었습니다.\n 잠시 후 다시 시도해주세요.');
                }
            }
        });
    });
    
    var productUtils = function () {
        var that = this;
        var _cdnUrl = 'http://localhost:7001';
        return {
            setCdnUrl:function(cdnUrl) {
                _cdnUrl = cdnUrl;
            },
            /* 별점 이미지 생성 함수 */
            starImage: function(target, point){
                if(target) 
                    target.append(productUtils.createStarImageTagsString(point));
            },
            createStarImageTagsString: function(point){
               var tags = '';
               for(var i=0; i<5; i++) {
                    if(i<point)
                        tags += '<img src="' + _cdnUrl + 'http://image.kyobobook.com/mimages/static/images/common/ico_star_on.png" alt="" />';
                    else
                        tags += '<img src="' + _cdnUrl + 'http://image.kyobobook.com/mimages/static/images/common/ico_star.png" alt="" />';
                }
                return tags;
            }
        };
    }();
</script>
</head>
<body>
<div id="wraper">
	<header id="header" class="clfix"></header>
	
	<nav id="gnb" class="clfix"></nav>

	<section id="container">
		<div class="content_wrap">
			<div class="giveaway_step">
				<div class="box101 mgb10">
					<div class="txt_center">
						<div class="content_wrap">
							<div class="purchase_info">
								<p class="txt_s14 text_st_kor">죄송합니다.</p>
								<p><span class="tcolor_b">서비스 오류입니다.</span></p>
								<p class="blind_line">	
									이용에 불편을 드려 죄송합니다.<br />
									잠시 후에 다시 한번 시도해 주십시오.<br />
									오류가 지속되면 <span class="tcolor_o">고객센터</span>로 문의하여 주십시오.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="btn_area04 mgb20">
					<a href="javascript:history.go(-1);" rel="external" class="btn_direct_blue bder_radius03 tcolor_w">이전 페이지</a>
					<a href="/" rel="external" class="btn_direct_white bder_radius02 tcolor_g3">교보문고 홈</a>
				</div>
			</div>
		</div><!-- //content-wrap -->
	</section>

	<div id="cart_area">
		<!-- cart inc -->
		<script type="text/javascript" src="/common/js/cart.js"></script>
		<noscript><p>자바스크립트를 가 실행되지 않으면 제대로된 서비스를 제공받지 못합니다.</p></noscript>
		<!-- //cart inc -->
	</div>
    <script type="text/javascript"> 
        $('#cart').css('top', window.innerHeight + window.scrollY + "px");
    
        var $button = $("#btnCart");
        var $cart = $("#cart");
        $button.toggle(
            function() {
                $cart.stop().animate({top: window.innerHeight + window.scrollY + "px"},300, function() {
                    $('#cart .list').css("display","none");
                });
            },
            function() {
                $('#cart .list').css("display","block");
                $cart.stop().animate({top: window.innerHeight + window.scrollY -165 + "px"},300);
            }
        );
    </script> 

	<footer id="footer"></footer>
</div>
<script type="text/javascript"> 
    var menuLinkUrls = new Array();
    menuLinkUrls['다음메뉴'] = '';
    menuLinkUrls['베스트셀러'] = '';
    menuLinkUrls['eBook'] = '';
    menuLinkUrls['외국도서'] = '/showcase/foreignBook';
    menuLinkUrls['국내도서'] = '/showcase/domesticBook';
    menuLinkUrls['닫기'] = '';
    menuLinkUrls['음반'] = '/showcase/music';
    menuLinkUrls['DVD'] = '/showcase/dvd';
    menuLinkUrls['기프트'] = '/showcase/gift';
    menuLinkUrls['오피스'] = '/showcase/office'; 
    menuLinkUrls['마이룸'] = '';
    menuLinkUrls['공지사항'] = '/helpcenter/notice';
    menuLinkUrls['매장안내'] = '';
    menuLinkUrls['고객센터'] = '/helpcenter/main';
    menuLinkUrls['회원가입'] = '/member/term';
    menuLinkUrls['이용약관'] = '';
    menuLinkUrls['개인정보취급방침'] = '';
    
    var registerMenuClickEvent = function(elements){
        elements.each(function(idx, item){
            var url = menuLinkUrls[item.id];
            
            $(item).click(function(event){
                event.preventDefault();         // # 링크 이동 중지
 
                if(url)
                    document.location.href = url;
                else
                    alert('아직 지원되지 않는 메뉴입니다.');
                    
                return false;
            });
        });
    };
    
    $('#header').load(gPath+'/common/template/header.html', function(){
        // 검색 버튼 이벤트 등록
        $('#search_btn').click(function(event){
            event.preventDefault();         // # 링크 이동 중지
            goSearch();
            return false;
        });
    });
    
    $('#gnb').load(gPath+'/common/template/nav.html', function(){
    
        // 네비게이션 메뉴 링크 이벤트 등록
        registerMenuClickEvent($('#gnb_wrap a[rel="external"]'));
        
        // 네비게이션 메뉴 링크 이벤트 등록
        registerMenuClickEvent($('#tgnb_wrap a[rel="external"]'));
    });
    
    $('#footer').load(gPath+'/common/template/footer.html', function(){
        
        // 하단 메뉴 링크 이벤트 등록
        registerMenuClickEvent($('.list_ico_menu a'));
        // 회원가입 . 이용약관 . 개인정보방침 링크 이벤트 등록
        registerMenuClickEvent($('.list_footer_util a'));
        var login_label = "로그인"; 
        var login_url = "/login";
        $("#로그인").text(login_label).attr("href", login_url);
    });
</script>
</body>
</html>