<!-- ico menu -->
<div class="footer_menu_wrap clfix">
	<ul class="list_ico_menu">
		<li><a id="이벤트"  href=""><img src="http://image.kyobobook.com/mimages/static/images/common/ico_footer_01.png" alt="이벤트" /></a></li>
		<li><a id="내서재" href=""><img src="http://image.kyobobook.com/mimages/static/images/common/ico_footer_02.png" alt="내서재" /></a></li>
		<li><a id="주문/배송안내" href=""><img src="http://image.kyobobook.com/mimages/static/images/common/ico_footer_03.png" alt="주문/배송안내" /></a></li>
		<li><a id="쪽지함" href=""><img src="http://image.kyobobook.com/mimages/static/images/common/ico_footer_04.png" alt="쪽지함" /></a></li>
		<li id="moreView"><span id="더보기"><img src="http://image.kyobobook.com/mimages/static/images/common/ico_footer_05.png" alt="더보기" /></span></li>
		<li class="footer2Depth"><a id="마이룸"  href=""><img src="http://image.kyobobook.com/mimages/static/images/common/ico_footer_06.png" alt="마이룸" /></a></li>
		<li class="footer2Depth"><a id="공지사항" href=""><img src="http://image.kyobobook.com/mimages/static/images/common/ico_footer_07.png" alt="공지사항" /></a></li>
		<li class="footer2Depth"><a id="매장안내" href=""><img src="http://image.kyobobook.com/mimages/static/images/common/ico_footer_08.png" alt="매장안내" /></a></li>
		<li class="footer2Depth"><a id="고객센터" href=""><img src="http://image.kyobobook.com/mimages/static/images/common/ico_footer_09.png" alt="고객센터" /></a></li>
		<li class="footer2Depth"><a id="매거진" href=""><img src="http://image.kyobobook.com/mimages/static/images/common/ico_footer_10.png" alt="고객센터" /></a></li>
	</ul>	
</div>
<!-- //ico menu -->

<div class="btn_center">
	<a id="로그인" href="#" rel="external" class="btn_util bder_radius">로그인</a>
	<a id="교보문고 App 받기" href="#" class="btn_util bder_radius">교보문고 App 받기</a>
	<!-- 20110616 추가 -->
	<a id="PC 버전" href="#" class="btn_util bder_radius">PC 버전</a>
	<!-- //20110616 추가 -->
</div>
<div class="list_footer_util">
	<a id="회원가입" href="#">회원가입</a>
	<a id="이용약관" href="#">이용약관</a>
	<a id="개인정보취급방침" href="#">개인정보취급방침</a>
</div>
<p class="copyright"><img src="http://image.kyobobook.com/mimages/static/images/common/txt_copyright.gif" alt="Copyright(c) 2011 Kyobo Book Centre. All right reserved." /></p>

<script>
$(function(){
	
	// 더보기 레이어 노출
	$('#moreView').toggle(function(){
		
		$(this).addClass('on');
		$('.footer2Depth').css('display','block');
		$('.footer2Depth').css({borderBottom:'1px solid #afafaf',borderTop:'1px solid #afafaf'});			
		
	},function(){
		
		$(this).removeClass('on');
		$('.footer2Depth').css('display','none');		
		
	});	
	
});
</script>