
<!-- skip navigation -->
<div class="accessibility">
	<p><a href="#content">본문바로가기</a></p>
</div>
<!-- //skip navigation -->

<!-- 모바일용 링크 -->
<div class="bi_area"><h1><a href="http://m.kyobobook.com/?orderClick=mA1" rel="external"><img src="http://image.kyobobook.com/mimages/static/images/common/h1_logo.gif" alt="KYOBO 교보문고" /></a></h1></div>
<!-- //모바일용 링크 -->
<!-- 태블릿용 링크 -->
<div class="tbi_area"><h1><a href="http://m.kyobobook.com/?orderClick=mA1" rel="external"><img src="http://image.kyobobook.com/mimages/static/images/common/h1_logo.gif" alt="KYOBO 교보문고" /></a></h1></div>
<!-- //태블릿용 링크 -->
<div class="btn_area"><a id="search_btn"><img src="http://image.kyobobook.com/mimages/static/images/common/btn_search_header.gif" alt="search" /></a><span class="btn_close"><a class="btn_clear"><img src="http://image.kyobobook.com/mimages/static/images/common/bg_close.png" alt="닫기" /></a></span></div>

<div class="search_box">
	<form name="search" id="search" action="/search/main/" method="post" style="float:right;width:100%;" onsubmit="return false">
		<div class="input_area" id="search_form">
			<input type="search" name="query" id="query" class="txt_ls-1" value="" onfocus="isArkOn();" onclick="inputClick01()" onblur="inputClick02();" tabindex="1" placeholder="초성검색을 해보세요">			
		</div>	
	</form>
</div>

<!-- 초성검색 -->
<div id="ark_wrap">
<!-- <div id="ark_up"><img id="ark_img_up"></div>
<div id="ark_down"><img id="ark_img_down"></div> -->
<div id="ark_sub_wrap"></div>
<div>	
<!-- // 초성검색 -->