<!-- 신규 변경된 소스 -->
<div id="gnb_wrap">
	<ul id="gnb_menu01">
		<li><a id="국내도서" href="/books/books_list.html" rel="external"><img src="http://image.kyobobook.com/mimages/static/images/common/gnb_menu01_01.png" alt="국내도서" /></a></li>
		<li><a id="외국도서" rel="external"><img src="http://image.kyobobook.com/mimages/static/images/common/gnb_menu01_02.png" alt="외국도서" /></a></li>
		<li><a id="eBook" rel="external"><img src="http://image.kyobobook.com/mimages/static/images/common/gnb_menu01_03.png" alt="eBook" /></a></li>
		<li><a id="베스트셀러" rel="external"><img src="http://image.kyobobook.com/mimages/static/images/common/gnb_menu01_04.png" alt="베스트셀러" /></a></li>
		<li><a href="javascript:gnb_open();">오픈</a></li>
	</ul>

	<ul id="gnb_menu02">
		<li class="close_bg"><a href="javascript:gnb_close();">닫기</a></li>
		<li><a id="음반" rel="external"><img src="http://image.kyobobook.com/mimages/static/images/common/gnb_menu02_01.png" alt="음반" /></a></li>
		<li><a id="DVD" rel="external"><img src="http://image.kyobobook.com/mimages/static/images/common/gnb_menu02_02.png" alt="DVD" /></a></li>
		<li><a id="기프트" rel="external"><img src="http://image.kyobobook.com/mimages/static/images/common/gnb_menu02_03.png" alt="기프트" /></a></li>
		<li><a id="오피스" rel="external"><img src="http://image.kyobobook.com/mimages/static/images/common/gnb_menu02_04.png" alt="오피스" /></a></li>
	</ul>
</div>
<!-- //신규 변경된 소스 -->

<!-- 태블릿용 소스 -->
<div id="tgnb_wrap">
	<ul id="tgnb_menu">
		<li><a id="국내도서" href="/books/tbooks_list.html" rel="external"><img src="http://image.kyobobook.com/mimages/static/images/common/gnb_menu01_01.png" alt="국내도서" /></a></li>
		<li><a id="외국도서" rel="external"><img src="http://image.kyobobook.com/mimages/static/images/common/gnb_menu01_02.png" alt="외국도서" /></a></li>
		<li><a id="eBook" rel="external"><img src="http://image.kyobobook.com/mimages/static/images/common/gnb_menu01_03.png" alt="eBook" /></a></li>
		<li><a id="음반" rel="external"><img src="http://image.kyobobook.com/mimages/static/images/common/gnb_menu02_01.png" alt="음반" /></a></li>
		<li><a id="DVD" rel="external"><img src="http://image.kyobobook.com/mimages/static/images/common/gnb_menu02_02.png" alt="DVD" /></a></li>
		<li><a id="기프트" rel="external"><img src="http://image.kyobobook.com/mimages/static/images/common/gnb_menu02_03.png" alt="기프트" /></a></li>
		<li><a id="오피스" rel="external"><img src="http://image.kyobobook.com/mimages/static/images/common/gnb_menu02_04.png" alt="오피스" /></a></li>
	</ul>
</div>
<!-- //태블릿용 소스 -->

<script>

// GNB Animation

	/*
	function gnbLoading(){	
		setTimeout(function(){						
			$('#gnb_menu02').animate({'left':'100%'}, 600, 'easeOutQuint');			
		}, 900);
	}
	*/
		
	function gnb_open(){		
		$('.close_bg').css('background-image','url("http://image.kyobobook.com/mimages/static/images/common/ico_gnb_close80.png"), url("http://image.kyobobook.com/mimages/static/images/common/bg_gnb_btn02.png")');
		 $('#gnb_menu02').stop().animate({'left':'0%'}, 600, 'easeOutQuint', function(){
			 
		 });
		setTimeout(function(){			
			$('#gnb_menu01 a').css({'display':'none'});
		}, 300);
		
		try{gnb_open_complete();}catch(e){}
	}
	function gnb_close(){
		setTimeout(function(){
				$('#gnb_menu01 a').css({'display':'block'});
			}, 300);		
		$('.close_bg').css('background-image','url("http://image.kyobobook.com/mimages/static/images/common/ico_gnb_close80.png"), url("http://image.kyobobook.com/mimages/static/images/common/bg_gnb_btn03.png")');
		$('#gnb_menu02').stop().animate({'left':'100%'}, 600, 'easeInOutExpo');

		try{gnb_close_complete();}catch(e){}
	}


// GNB 상태변화
	
	//var menu_id = 활성화되는 메뉴값
	var menu_id;  // 아이디값을 넣어주세요

	function booksOn(){
		// action
		var gnbBooksLi = $('#gnb_menu01 li'); 
		gnbBooksLi.bind('vclick', function(){
			var index = $(this).index();
			$('#gnb_menu01 li:last-child').removeClass('last_on');
			if(index == 4){
				return;
			} else if(index == 3){				
				$('#gnb_menu01 li:last-child').addClass('last_on');
			}
			gnbBooksLi.removeClass('on');
			$(this).addClass('on');			
		});
	}
	
	function hottracksOn(){
		// action
		var gnbHottracksLi = $('#gnb_menu02 li'); 
		gnbHottracksLi.bind('vclick', function(){
			var index = $(this).index();
			if(index == 0){
				return;
			}
			$('#gnb_menu02').css('left','0');
			$('#gnb_menu01 a').css('display','none');
			gnbHottracksLi.removeClass('on');
			$(this).addClass('on');
		});
	}
	
	function gnbLocation(){
		if(menu_id < 4){
			$('#gnb_menu01 li').eq(menu_id).trigger('vclick');	
		} else if(menu_id == 4 || menu_id >= 9){
			return;
		} else{
			$('#gnb_menu02 li').eq(menu_id-4).trigger('vclick');
		}
	}	
	
	// Tablet On Off
	function tabletOn(){
		
		var gnbTabletLi = $('#tgnb_menu li');
		gnbTabletLi.bind('vclick', function(){			
			gnbTabletLi.removeClass('on');
			$(this).addClass('on');
		});
		if(menu_id < 3){
			gnbTabletLi.eq(menu_id).trigger('vclick');				
		} else if(menu_id == 4 || menu_id >= 9){
			return;
		} else{
			gnbTabletLi.eq(menu_id-2).trigger('vclick');
		}
		
	}
	
	$(function(){
		//gnb first loading
		//gnbLoading();
				
		booksOn();		
		hottracksOn();		
		gnbLocation();
		tabletOn()
	});
</script>